
body {
    font-family: math;
    font-size: 18px;
    background-color: #BFD8AF;
}

/* Header */
.main-header {
    background-color: #88D66C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo-icon {
    height: 100px;
    width: 150px;
    background-image: url(img/HNI-logo.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
}

nav>a {
    padding: 5px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #387F39;
    border: 1px solid #387F39;
    margin: 2px;
    border-radius: 3px;
}

/* Beranda */
.beranda {
    display: flex;
    align-items: center;
}

#beranda>img {
    width: 100%;
    margin-right: 10px;
}

.text-beranda {
    font-size: xx-large;
    font-weight: bold;
    color: #387F49;
    text-align: center;
}

/* Profil */
.profil-logo {
    display: flex;
}

.profil {
    color: #FFFF;
    font-weight: bolder;
    font-size: 40px;
}

.logo {
    width: 200px;
}

.logo2 {
    width: 140px;
    margin-left: 30px;
}

/* Produk Unggulan */
#section-produk-unggul{
    background-color: #FFFF;
    text-align: center;
    border-radius: 5px;
}

#section-produk-unggul h2 {
    background-color: #88D66C;
    padding: 20px;
}

#produk1 {
    display: flex;
}

.produk1 {
    height: 200px;
    width: 500px;
    background-color: #88D66C;
    margin: 10px;
}

.produk-minyak {
    height: 350px;
    margin-right: 20px;
    background-color: #399918;
}

/* Daftar Produk */
.produk-list {
    display: flex;
    justify-content: space-around;
}

.produk-item {
    background-color: #88D66C;
    padding: 25px;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0001;
    text-align: center;
}

.produk-item > img {
    width: 100%;
}

.beli {
    background-color: #387F39;
    padding: 10px 20px;
    color: #FFFF;
    text-decoration: none;
    border-radius: 5px;
}

/* Khasiat */
#section-khasiat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #88D66C;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

#section-khasiat h2 {
    text-align: center;
    color: #161D6F;
}

/* Testimoni */
#section-testi {
    background-color: #78B7D2;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

/* Form */
.message-section {
    display: flex;
    justify-content: flex-start;
}

form>div {
    display: grid;
    margin-right: 100px;
}

/* Contact */
#section-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161D6F;
    color: #FFFF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.kontak {
    text-decoration: none;
    color: #FFFF;
}

/* Footer */
#copy {
    background-color: #FFFF;
    display: flex;
    justify-content: center;
}

.footer > p {
    font-size: small;
    padding: 10px;
}

.myFoto {
    width: 150px;
    border-radius: 70%;
}

.fa-brands {
    font-size: 30px;
    color: #000000
}

/* Responsif */
@media only screen and (max-width: 980px) {
    .logo-icon {
        width: 250px;
        height: 200px;
    }

    .produk-list {
        flex-direction: column;
        align-items: center;
    }

    .produk-item {width: 50%;}

    .produk-item > img {
        width: 80%;
    }

    .produk-item > h3{
        font-size: 28px;
    }

    nav {
        flex-direction: column;
        text-align: end;
    }

    .beranda, .profil-logo, #produk1 {
        display: contents;
    }
    .beranda, .contact {text-align: center;}

    .logo, .logo2 {align-items: center;}

    #section-khasiat, #section-testi {
        display: grid;
    }

    #section-contact {
        flex-direction: column;
    }

    .message-section {
        margin-bottom: 20px;
    }

    #copy {
        font-size: 50px;
    }

}

